.puzzle {
  position: relative;
  width: 800px;
  height: 800px;
  margin: auto;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
}

.square {
  position: absolute;
  width: 202px;
  height: 202px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-size: 400% 400%;
  transition: transform 0.3s ease;
  box-sizing: border-box;
}

.selected {
  outline: 3px solid red;
}

.steps {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: -100px;
}
